<li class="media">
  <a class="pull-left media-object media-center" href="<%- url_for(post.path) %>">
    <img  width="200" src="<%- post.featured_image %>">
  </a>
  <div class="media-body">
    <h1 class="media-heading">
      <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
    </h1>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: 'MMMM Do'}) %>
      <%- partial('post/category') %>
    </div>
    <%- post.excerpt %>
  </div> <!-- media-body -->
</li> <!-- media -->
