<% if (index) {%> 
  <li class="media">
    <a class="pull-left media-object media-center" href="<%- url_for(post.path) %>">
      <img  width="200" src="<%- post.featured_image %>">
    </a>
    <div class="media-body">
      <h1 class="media-heading">
        <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
      </h1>
      <div class="article-meta">
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        <%- partial('post/category') %>
      </div>
      <%- post.excerpt %>
      <p class="article-more-link">
        <a class="btn btn-primary" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
      </p>
    </div> <!-- media-body -->
  </li> <!-- media -->
<%} else {%>
  <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <header class="article-header">
      <%- partial('post/title', {class_name: 'article-title'}) %>
    </header>

    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <% if (post.author){ %><div class="article-author"><%= post.author %></div><% } %>
      <%- partial('post/category') %>
      <div class="fb-like" data-href="<%= post._id %>" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div> <!-- article-meta -->
    <div class="article-inner">

      <div class="article-entry" itemprop="articleBody">
        <%- post.content %>
      </div>

      <% if (!(post.excerpt && index)){ %>
        <%- partial('post/gallery') %>
      <% } %>

      <footer class="article-footer">
      </footer>
    </div>
    <!--<% if (!index){ %>
      <%- partial('post/nav') %>
    <% } %>-->
  </article>
<% } %>
